global
  daemon
  maxconn 256

defaults
  mode tcp
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend fe_db
  bind *:80
  default_backend be_db

backend be_db
  balance roundrobin
  server db1 postgres:5432 check
  server db2 mysql:3306 check
  server db3 mongodb:27017 check
